.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 166px;
}

.movies__btn {
  width: 240px;
  height: 36px;
  border-radius: 6px;
  background: #F4F4F4;
  margin: 50px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .movies {
    padding: 154px 0;
  }
}

@media screen and (min-width: 1280px) {

}