.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.page__title {
  font-size: 80px;
  line-height: 97px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.page__text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0em;
}

.page__link {
  position: absolute;
  bottom: 30px;
  color: #3456F3;
}