.card {
  border-radius: 10px;
  margin: 20px 10px;
  background: #fff;
  box-shadow: 0px 16px 24px 0px #0000000D;
  width: 100%;
  max-width: 300px;
}

.card__image {
  width:300px;
  height: 168px;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 12px 10px;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
}

.card__btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.card__remove-icon {
  width: 16px;
  height: 16px;
}

.card__save-icon {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #f4f4f4;
  border-radius: 50px;
  box-shadow: 0px 3px 6px 0px #00000017;
}

.card__save-btn {
  display: none;
  cursor: pointer;
}

.card__save-btn:checked+label {
  background-color: #2be080;
}

.card__text {
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin-left: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 339px;
    margin: 0;
    margin-bottom: 25px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    width: 270px;
    margin-bottom: 22px;
  }

  .card__wrapper {
    margin-top: 5px;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
  }

  .card__image {
    width: 270px;
    height: 151px;
  }
}