.project {
  margin: 70px 18px;
}

.project__header {
  padding-bottom: 28px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}

.project__title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding-top: 40px;
}

.project__text {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0em;
  margin: 16px 0;
}

.project__bars-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 44px;
}

.project__bar-group {
  display: grid;
  gap: 10px;
}

.project__status-bar {
  height: 35px;
  text-align: center;
  font-size: 11px;
  
  line-height: 13px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__status-bar_sm {
  width: 100px;
  background: #3456F3;
  color: #fff;
}

.project__status-bar_lg {
  width: 184px;
  background: #F2F2F2;
}

.project__subtitle {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
}