.login {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.login__logo {
  width: 38px;
  height: 38px;
  margin-top: 26px;
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin: 50px 0 80px;
}

.login__form {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__label {
  font-size: 10px;
  line-height: 12px;
  color:#A0A0A0;
  margin: 7px 0;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #E8E8E8;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  margin-bottom: 24px;
}

.login__input_error {
  color: #EE3465;
  margin-bottom: 0;
}

.login__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__btn {
  display: flex;
  color: #fff;
  background-color: #3456F3;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.login__text {
  font-size: 12px;
  line-height: 15px;
  /* text-align: center; */
  color: #A0A0A0;
}

.login__link {
  font-size: 12px;
  line-height: 15px;
  color: #3456F3;
  margin-left: 7px;
}

@media screen and (min-width: 768px) {
  .login {
    padding: 232px 186px;
    align-items: flex-start;
  }

  .login__logo {
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .login {
    width: 396px;
    margin: auto;
    padding: 70px 0;
  }
}